<?xml version="1.0"?>
<launch>
  <!-- LOAD YAML FILE PARAMETERS -->
  <rosparam file="$(find ecs)/config/parameters.yaml" />

  <node pkg="ecs" type="example_sensors_node.py" name="sensors_node" output="screen" respawn="false" respawn_delay="0" />

  <!-- DESCRIPTOR NODE IN CASE OF CLASSIC CLASSIFICATION APPROACH (pick one) -->
  <node pkg="ecs" type="centrist_node.py" name="descriptor_node" output="screen" respawn="false" respawn_delay="0" />

  <!-- <node pkg="ecs" type="gist_node.py" name="descriptor_node" output="screen" respawn="false" respawn_delay="0" /> -->

  <node pkg="ecs" type="data_acquisition_node.py" name="ecd_node" output="screen" respawn="false" respawn_delay="0" />

  <!-- IMAGE BASED CLASSIFICATION NODE -->
  <node pkg="ecs" type="classification_classic_node.py" name="ibec_node" output="screen" respawn="false" respawn_delay="0" />
  <!-- <node pkg="ecs" type="classification_torch_node.py" name="ibec_node" output="screen" respawn="false" respawn_delay="0" /> -->

  <!-- ROBOT BEHAVIOR ADAPTATION NODE -->
  <node pkg="ecs" type="robot_behavior_adaptation_node.py" name="rba_node" output="screen" respawn="false" respawn_delay="0" />

</launch>
