<?xml version="1.0"?>
  <launch>

    <!-- <include file="$(find env_detection_core)/launch/gmapping.launch" /> -->
    <node pkg="ecs" type="change_detection_node.py" name="ecd_node" output="screen" respawn="false" respawn_delay="0" />
    <node pkg="ecs" type="classification_classic_node.py" name="ibec_node" output="screen" respawn="false" respawn_delay="0" />
    <node pkg="ecs" type="switcher_node.py" name="rba_node" output="screen" respawn="false" respawn_delay="0" />

</launch>
  